@media handheld and (max-width:767px), screen and (max-device-width:767px), screen and (max-width:960px) {

}
@media screen and (max-width:480px), screen and (max-device-width:480px), screen and (max-width:750px) {

}
@media screen and (max-width:480px){
    .menu-search{
        right: 0px !important;
        width: 73% !important;
        margin-left:0px;
    }
}
@media screen and (max-width:320px), screen and (max-device-width:320px), screen and (max-width:450px) {
    .ip4-hidden{
        display: none !important;
    }
    #lma .auth, #lma .description {
        /*display: none;*/
    }
    .date{
        float: left!important;
    }
    .mh80{
        /*min-height: 80px;*/
        display: block;
    }
    .menu-search{
        right: 0px !important;
        width: 73% !important;
        margin-left:0px;
    }
}

@media screen and (max-width:320px){
    .date, #lma .auth, #lma .description {
        display: none;
    }
    .date{
        width: 100%;
    }
}